body{
    padding: 40px;
    background-color: #b10bc9;
    font-family: Arial;
}

h1{
    text-align: center;
    color: #fff;
}

.search-container{
    display: flex;
    justify-content: space-around;
}

#search-bar{
    width: 80%;
    height: 40px;
    font-size: 20px;
}

.adventure-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 40px;
}


.adventure{
    width: 120px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
}